<!DOCTYPE html>
<html>
	<head>
		<title>Praful Mathur</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
		<link rel="stylesheet" href="normalize.css" type="text/css">
		<link rel="stylesheet" href="skeleton.css" type="text/css">
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>


	<body>
		<div class="container">
			<div class="title row"> Hi, I'm Praful </div>
			<div class="paragraph row">
				I'm a recent Computer Science graduate from the 
				<a class="paralink" id="umich" href="https://www.google.com/search?q=go+blue&tbm=isch">
					<span>University of Michigan.</span>
				</a>
				I care about great technology and great product</a>.
				I dream of creating tech experiences that feel like magic.
				I love to travel. Delhi, New York, Hyderabad, Boston, Ann Arbor, 
				<a class="paralink" href="https://www.facebook.com/prafmathur/videos/vb.543099638/10153594310004639/" id="travel">
					<span>Peru,</span>
				</a> and Seattle are places I've once called home.
				I'm an aspiring foodie, and one day hope to be as good at cooking as I am at eating.
				I also spend way too much time trying to figure out how people think.
				I will be working at 
					<a href="https://www.microsoft.com/" class="paralink" id="microsoft">
						<span>Microsoft</span>
					</a> starting July 2016.
			</div>

			<div class="backbutton row" >
				<a href="/">back</a>
			</div>
		<div class="container">
	</body>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-80816478-1', 'auto');
		ga('send', 'pageview');
	</script>
</html>