<!doctype html>
<html>
  <head>
    <title>Praful Mathur</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="skeleton.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>

  <body>
    <div class="container">
      <div class="title row">Hi, I'm Praful</div>
      <div class="paragraph row">
        I'm an engineer trying to understand how people, organizations, and technologies work. My work is usually to simplify the complex, to peer behind the veil where the beauty of code meets the messiness of reality.
      </div>
      <div class="paragraph row">
        Right now, I'm trying to build a new kind of bank at <a class="paralink" id="column" href="https://column.com"><span><span><span>Column</span></span></span></a>.
      </div>
      <div class="paragraph row">
        I feed on thought-provoking conversations with founders, product leaders, and engineers. I sometimes invest in startups. 
      </div>
      <div class="paragraph row">
        In my free time, you can find me chasing a great live set, picking fruit at the farmers market with my wife, or trying to perfect my <a href="/latte-art">latte art</a>. 
      </div>
      <div class="backbutton row">
        <a href="/">back</a>
      </div>
    </div>
  </body>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-80816478-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-80816478-1');
  </script>
</html>
