<!doctype html>
<html>
  <head>
    <title>Praful Mathur</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="skeleton.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>

  <body>
    <div class="container">
      <div class="title row">Hi, I'm Praful</div>
      <div class="menu row">
        <div class="four columns">
          <a href="/about">about</a>
        </div>
        <div class="four columns">
          <a href="/projects">projects</a>
        </div>
        <div class="four columns">
          <a href="/writings">writings</a>
        </div>
      </div>
      <div class="links row">
        <a
          href="https://www.instagram.com/_praf/"
          class="one-third column"
          rel="noopener noreferrer"
          target="_blank"
        >
          <i class="fab fa-instagram" aria-hidden="true"></i>
        </a>
        <a
          href="https://github.com/prafmathur"
          class="one-third column"
          rel="noopener noreferrer"
          target="_blank"
        >
          <i class="fab fa-github" aria-hidden="true"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/praful-mathur-30430258"
          class="one-third column"
          rel="noopener noreferrer"
          target="_blank"
        >
          <i class="fab fa-linkedin" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </body>

  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-80816478-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-80816478-1');
  </script>
</html>
