<!DOCTYPE html>
<html>
	<head>
		<title>Praful Mathur</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
		<link rel="stylesheet" href="normalize.css" type="text/css">
		<link rel="stylesheet" href="skeleton.css" type="text/css">
		<link rel="stylesheet" href="style.css" type="text/css">
		
	</head>


	<body>
			<div class="title row"> Hi, I'm Praful </div>
			<div class="menu row">
			    <div class="menu one-half column">
					<a href="/about">about</a>
				</div>
   	 			<div class="menu one-half column">
					<a href="/projects">projects</a>
				</div>
			</div>
			<div class="links row">
				<a href="https://www.instagram.com/_praf/" class="one-third column" href="">
					<i class="fa fa-instagram" aria-hidden="true"></i>
				</a>
				<a href="https://github.com/prafmathur" class="one-third column" href="">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
				<a href="https://www.linkedin.com/in/praful-mathur-30430258" class="one-third column" href="">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
			</div>
	</body>
</html>