<!DOCTYPE html>
<html>
	<head>
		<title>Praful Mathur</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
		<link rel="stylesheet" href="normalize.css" type="text/css">
		<link rel="stylesheet" href="skeleton.css" type="text/css">
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>


	<body>
		<div class="container">
			<div class="backbutton row"> 
				Projects
			</div>
			<div class="projects row">
				<div class="six columns project">
					<img class="projectImg" src="textjam.png"><h3>TextJam</h3></img>
					 Textjam is a text message music player and DJ app for the browser. It works using Twilio, Node, and Socket.io		
				</div>
				<div class="six columns project">
					<img id="color8img" class="projectImg" src="color8.png"><h3>Color8</h3></img>
					Color8 is an image processing application that reduces any image to an average 8 colors. 
					It is a parallelized implementation of k-means clustering on an iPhone GPU, built using Swift and Metal. 
				</div>
			</div>
			<div class="backbutton row" >
				<a href="/">back</a>
			</div>
		</div>	
	</body>
</html>