<!doctype html>
<html>
  <head>
    <title>The pursuit of imperfection - Praful Mathur</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="skeleton.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>

  <body>
    <div class="container">
      <div class="title row">Hi, I'm Praful</div>
      
      <div class="writings row">
        <article class="post">
          <div class="post-date">July 2025</div>
          <h3 class="post-title">The pursuit of imperfection</h3>
          <div class="post-content">
            <p>I have always been scared to put myself out there on the internet. I'm paralyzed by indecision, always crafting, always refining, never hitting send.</p>
            <p>I want to change that by writing here more. Maybe I'll share thoughts about work - building fintech companies and scaling software. Maybe I'll share thoughts about books or articles I've read. Maybe I'll even share personal stories or feelings.</p>
            <p>It's for no-one in particular, it won't be perfect, and that's kinda the point.</p>
          </div>
        </article>
      </div>

      <div class="backbutton row">
        <a href="/">back</a>
      </div>
    </div>
  </body>

  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-80816478-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-80816478-1');
  </script>
</html>