<!doctype html>
<html>
  <head>
    <title>Praful Mathur</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="skeleton.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>

  <body>
    <div class="container">
      <div class="title row">Hi, I'm Praful</div>
      
      <div class="writings row">
        <article class="post">
          <div class="post-date">August 2025</div>
          <h3 class="post-title">Visiting SF (for New Yorkers)</h3>
          <div class="post-content">
            <p>I have a lot of friends on the east coast/in NYC that ask for recs when they visit SF. While SF is an amazing place to live, it can be kind of a weird place to visit. Hopefully this lets you cut past the obvious tourist traps and enjoy the city a bit more.</p>
            
            <h4>Food</h4>
            <p>SF definitively beats NYC in 3 cuisines: Chinese, Taquerias (Mexican), and Bakeries. Some places I like (though, you can't go wrong by searching google/chatgpt for best &lt;dumplings/crossiants/burritos&gt; in SF)</p>
            
            <p><strong>Chinese</strong> — Z&Y, Dumpling Story/Dumpling Home, Dragon Beaux. There's tons of options that range from more casual to more fancy. Funnily enough most of the best Chinese food is outside Chinatown (ex, in the Richmond).</p>
            
            <p><strong>Taquerias</strong> — Tacos El Patron, La Palma (only open till 4), El Gallo Giro (food truck, weekdays only till about 5), El Farolito (late night). You'll probably be fine at any spot in the Mission, so don't worry too much.</p>
            
            <p><strong>Bakeries</strong> — Arsicault, Breadbelly, B Patisserie. The earlier you're willing to get there, the better options you'll have and the shorter the line will be. Use that east coast jetlag to your advantage.</p>
            
            <p>The only other food recs I'd give are:</p>
            
            <p><strong>Coffee</strong> — SF has an amazing local coffee scene. I could write a whole different post about my favorite espresso beans from the Bay Area. Spots I like: St Franks, Four Barrel, Sightglass, Equator.</p>
            
            <p><strong>"Farm to Table"</strong> — All the nicer $$ restaurants in SF do a great job of this. You're guaranteed to have ingredients fresher than anything in Manhattan. Veggies so tasty they hardly have to do anything to them. Spots I like: Nopa, Cotogna, the Progress, Sorella.</p>
            
            <h4>Activities</h4>
            <p>SF is a daytime/outdoorsy city. Unless you have a show/event/concert, nightlife here is quite lame, especially for visitors from bigger cities. The best thing you can do is go to bed early, minimize hangovers, and enjoy your daytime.</p>
            
            <p>Here's a random list of fun things to do that will hopefully give you the vibe.</p>
            
            <ul>
              <li>Rent bikes around Fishermans Wharf, bike all the way along Crissy Field, across the Golden Gate Bridge, and then down to Sausalito. Grab a drink or bite and then take a ferry back from Sausalito (check timings and plan ahead)</li>
              <li>Grab burritos and then hang out in Dolores Park on a sunny weekend afternoon and people watch</li>
              <li>Hike up Bernal Heights and enjoy the views, then grab tacos</li>
              <li>Lands End followed by Chinese or Korean food in the Richmond</li>
            </ul>
            
            <p>If you are willing to rent a car and drive - that opens up a ton of options outside the city (hiking, Napa/Sonoma).</p>
            
            <h4>Other tips</h4>
            <p>For getting around, if you don't have a car just Waymo/Uber. The public transit can be tricky to figure out and unless you are penny pinching it's not worth the time wasted. Also - Waymo's are awesome. Download the app and enjoy the future.</p>
            
            <p>Bring a light jacket if you plan to be outside past 4pm. It's always colder than you think at night.</p>
          </div>
        </article>

        <article class="post">
          <div class="post-date">July 2025</div>
          <h3 class="post-title">The pursuit of imperfection</h3>
          <div class="post-content">
            <p>I have always been scared to put myself out there on the internet. I’m paralyzed by indecision, always crafting, always refining, never hitting send.</p>
            <p>I want to change that by writing here more. Maybe I’ll share thoughts about work - building fintech companies and scaling software. Maybe I’ll share thoughts about books or articles I’ve read. Maybe I’ll even share personal stories or feelings.</p>
            <p>It's for no-one in particular, it won't be perfect, and that’s kinda the point.</p>
          </div>
        </article>

      </div>

      <div class="backbutton row">
        <a href="/">back</a>
      </div>
    </div>
  </body>

  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-80816478-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-80816478-1');
  </script>
</html>