html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

@font-face
{
font-family: jen;
src: url(JennaSue.ttf);
}

body {
max-width: 1200px;
width: 100%;
margin: 0 auto;	
color: #000000;
font-family: Helvetica;
font-style: normal;
font-weight: normal;
}


.title
{
	margin-top: 10%;
	margin-bottom: 5%;
	text-align: center;
	width: 100%;
	font-family: jen;
	font-size: 150px;
	color:white;
}


.main
{
	color: white;
}
.menu
{
	width: 800px;
	margin: 0 auto;
}
.option
{
	font-weight: 100;
	font-size: 30px;
	width: 200px;
	margin: 0 auto;
	float: left;
	text-align: center;
}
.option:hover
{
	text-decoration: underline;
	cursor: pointer;
}
