html { 
  /*background: url(background.jpg) no-repeat center center fixed; */
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  width: 100%;
}

a {
	text-decoration: none;
	color: gray;
}

a :hover {
	color: black;
}

@font-face
{
font-family: jen;
src: url(JennaSue.ttf);
}

body {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;	
	color: #000000;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	text-align: center;
}


.title
{
	max-width: 100%;
	font-family: jen;
	font-size: 100px;font-size: 13vw;
	color:black;
}

.menu {
	width: 400px;
	margin: 0 auto;
	margin-bottom: 20px;
	font-weight: 100;
	font-size: 30px;
}
.menu a:hover {
	color: black;
}

.links {
	width: 300px;
	margin: 0 auto;
	font-size: 30px;
}

.backbutton {
	margin-top: 30px;
	font-weight: 100;
	font-size: 30px;

}
.backbutton a:hover {
	cursor: pointer;
	color: black;
}


/* Styles for about page */

.paragraph {
	text-align: left;
	max-width: 800px;
	margin: 0 auto;
	font-size: 22px;
	font-weight: 100;
}

.paralink {
	text-decoration: none;
	font-weight: 500;
	color: cornflowerblue
}
.paralink :hover {
	text-decoration: underline;
}
#umich {
	color: #ffcb05;
}
#travel {
	color:green;
}
#microsoft {
	color:#f65314
}

/* Styles for projects page */

.projects {
	height: 400px;
}